<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ets.model.mysql.config.mapper.DiscountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cms.ets.model.mysql.marketing.Discount">
    <result column="id" property="id" />
    <result column="create_id" property="createId" />
    <result column="create_time" property="createTime" />
    <result column="update_id" property="updateId" />
    <result column="update_time" property="updateTime" />
        <result column="disc_name" property="discName" />
        <result column="limit_count" property="limitCount" />
        <result column="limit_begin" property="limitBegin" />
        <result column="limit_end" property="limitEnd" />
        <result column="discount_way" property="discountWay" />
        <result column="discount_scale" property="discountScale" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_id,
        create_time,
        update_id,
        update_time,
        disc_name, limit_count, limit_begin, limit_end, discount_way, discount_scale
    </sql>

</mapper>
