<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ets.provider.mapper.marketing.DiscountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cms.ets.model.mysql.marketing.Discount">
        <result column="id" property="id" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="disc_name" property="discName" />
        <result column="limit_count" property="limitCount" />
        <result column="limit_begin" property="limitBegin" />
        <result column="limit_end" property="limitEnd" />
        <result column="discount_way" property="discountWay" />
        <result column="discount_scale" property="discountScale" />
        <result column="status" property="status" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <collection property="ticketList" ofType="com.cms.ets.model.mysql.marketing.Ticket">
            <result column="ticket_id" property="id" />
        </collection>
        <collection property="touristList" ofType="com.cms.ets.model.mysql.marketing.Tourist">
            <result column="tourist_id" property="id" />
        </collection>
        <collection property="travelAgencyList" ofType="com.cms.ets.model.mysql.marketing.TravelAgency">
            <result column="travel_agency_id" property="id" />
        </collection>
    </resultMap>

    <select id="getRelation" resultMap="BaseResultMap" parameterType="string">
        select d.*, dt.ticket_id, t.tourist_id, ta.travel_agency_id
        from t_discount d
        left join t_discount_ticket dt on d.id = dt.discount_id
        left join t_discount_tourist t on d.id = t.discount_id
        left join t_discount_travel_agency ta on d.id = ta.discount_id
        where d.id = #{id}
    </select>
</mapper>
